extends ../layout

block title
	title МЕРОПРИЯТИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/events.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/events.js' + version)

block content_right
	.menu_right
		.categorys_block
		.categorys_block_title КАТЕГОРИИ
		.categorys_block_list
			.category_item.all ВСЕ
			each category in current.categorys
				.category_item(class=category._id)= category.title[0].value.toUpperCase()
		.exhibitions_block
			.exhibitions_block_title ВЫСТАВКИ
			.exhibitions_list
				each exhibition in exhibitions
					a(href='/events/' + exhibition._id)= exhibition.title[0].value.toUpperCase()

block content
	.coontent_title МЕРОПРИЯТИЯ
	each column in columns
		.events_column
			each category in column
				.events_group(class=category._id.category._id)
					.events_group_title= category._id.category.title[0].value.toUpperCase()
					.events_block
						each event in category.events
							.event_item
								.event_title= event.title[0].value
								.event_dates_block
									each date in event.schedule
										.event_date= ('0' + date.getUTCDate()).slice(-2) + '.' + ('0' + (date.getUTCMonth() + 1)).slice(-2) + ' в ' + ('0' + date.getUTCHours()).slice(-2) + ':' + ('0' + date.getUTCMinutes()).slice(-2)
								.event_hall= event.hall[0].value
								.event_description= event.description[0].value
								.event_age= event.age[0].value