extends ../layout

block title
	title РАСПИСАНИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/schedule.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/schedule.js' + version)

block content_right
	.schedule_months
		a(href='/schedule/2015/4') АПРЕЛЬ
		a(href='/schedule/2015/5') МАЙ
		a(href='/schedule/2015/6') ИЮНЬ

block content
	- var halls = {lobby_meeting:'Встреча в вестибюле', lobby: 'Вестибюль', knigovorot: 'Книговорот', small_exhibition_hall: 'Малый выставочный зал', mediaklub: 'Медиаклуб (комната 126)', directors_gallery: 'Директорская галерея', conference_hall: 'Конференц-зал', central_gallery: 'Центральная галерея', childrens_workshop: 'Детская мастерская', large_exhibition_hall: 'Большой выставочный зал', green_room: 'Зелёная комната', story_room: 'Комната сказок', favorite_activities_room: 'Комната любимых занятий', concert_hall: 'Концертный зал', foyer_of_concert_hall: 'Фойе концертного зала', upper_gallery: 'Верхняя галерея', pushkins_room: 'Пушкинская комната', creative_activities_room: 'Комната творческих занятий', family_reading_room: 'Комната семейного чтения'}
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	- var c_month = current.getUTCMonth();
	- var c_year = current.getUTCFullYear();
	.content_title= months[c_month] + ' ' + c_year
	- var days = ['вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб']
	each date in dates
		- var d_date = date._id.date <= 9 ? '0' + date._id.date : date._id.date
		- var m_month = date._id.month <= 9 ? '0' + date._id.month : date._id.month
		.schedule_date_block
			.schedule_date_title=d_date + '.' + m_month + ' ' + days[date._id.day - 1]
			.schedule_events
				each event in date.events
					.event_item
						.event_header
							- var h_hours = event.time.hours <= 9 ? '0' + event.time.hours : event.time.hours
							- var m_minutes = event.time.minutes <= 9 ? '0' + event.time.minutes : event.time.minutes
							.event_time= h_hours + ':' + m_minutes
							.event_hall: .inner= halls[event.hall]
						.event_title= event.title[0].value
						.event_age= event.age[0].value