extends ../layout

block title
	title РАСПИСАНИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/schedule.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/schedule.js' + version)

block content
	h1 РАСПИСАНИЕ
	each date in dates
		h2= date._id.day + '.' + date._id.month + '.' + date._id.year
		each event in date.events
			span= event.time.hours + ':' + event.time.minutes + ' '
			b= 'Заголовок: ' + event.title.ru
			br
			b= 'Возраст: ' + event.age.ru
			br
			b= 'Зал: ' + event.hall.ru
			br