extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ СОБЫТИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/exhibitions/edit/' + exhibition._id + '/events/') < Назад
		.title РЕДАКТИРОВАТЬ СОБЫТИЕ
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title', event)
			.form_title Описание:
			+form_text_multi('description', event)
			.form_title Возраст:
			+form_text_single('age', event)
			.form_title Категории:
			+form_multiple_select('categorys', exhibition.categorys, event.categorys)
			.form_title Зал:
			select(name='hall')
				option(value='lobby_meeting') Встреча в вестибюле
				option(value='lobby', selected=event.hall=='lobby') Вестибюль
				option(value='knigovorot', selected=event.hall=='knigovorot') Книговорот
				option(value='small_exhibition_hall', selected=event.hall=='small_exhibition_hall') Малый выставочный зал
				option(value='mediaklub', selected=event.hall=='mediaklub') Медиаклуб (комната 126)
				option(value='directors_gallery', selected=event.hall=='directors_gallery') Директорская галерея
				option(value='conference_hall', selected=event.hall=='conference_hall') Конференц-зал
				option(value='central_gallery', selected=event.hall=='central_gallery') Центральная галерея
				option(value='childrens_workshop', selected=event.hall=='childrens_workshop') Детская мастерская
				option(value='large_exhibition_hall', selected=event.hall=='large_exhibition_hall') Большой выставочный зал
				option(value='green_room', selected=event.hall=='green_room') Зелёная комната
				option(value='story_room', selected=event.hall=='story_room') Комната сказок
				option(value='favorite_activities_room', selected=event.hall=='favorite_activities_room') Комната любимых занятий
				option(value='concert_hall', selected=event.hall=='concert_hall') Концертный зал
				option(value='foyer_of_concert_hall', selected=event.hall=='foyer_of_concert_hall') Фойе концертного зала
				option(value='upper_gallery', selected=event.hall=='upper_gallery') Верхняя галерея
				option(value='pushkins_room', selected=event.hall=='pushkins_room') Пушкинская комната
				option(value='creative_activities_room', selected=event.hall=='creative_activities_room') Комната творческих занятий
				option(value='family_reading_room', selected=event.hall=='family_reading_room') Комната семейного чтения
			.form_title Расписание:
			.snake_outer
				if event.schedule.length > 0
					each date in event.schedule
						.snake
							button.back(type='button') удалить
							b= ' | '
							b Дата:
							- var now = new Date()
							select(name='schedule[date][]')
								option(value='') День
								- for (var i=1; i<32; i++)
									- var day = i <= 9 ? '0' + i : i
									option(value=i, selected=(i == date.getUTCDate()))= day
							b /
							select(name='schedule[month][]')
								option(value='') Месяц
								each month, i in months
									option(value=i, selected=(i == date.getUTCMonth()))= month
							b /
							select(name='schedule[year][]')
								option(value='') Год
								option(value=year, selected=(year == date.getUTCFullYear()))= year
								option(value=year - 1, selected=(year - 1 == date.getUTCFullYear()))= year - 1
							b Время:
							select(name='schedule[hours][]')
								option(value='') Часы
								- for (var i=0; i<24; i++)
									- var hour = i <= 9 ? '0' + i : i
									option(value=i, selected=(i == date.getUTCHours()))= hour
							b :
							select(name='schedule[minutes][]')
								option(value='') Минуты
								- for (var i=0; i<60; i+=10)
									- var minute = i == 0 ? '0' + i : i
									option(value=i, selected=(i == date.getMinutes()))= minute
							br
							br
				else
					.snake
						button.back(type='button') удалить
						b= ' | '
						b Дата:
						- var now = new Date()
						select(name='schedule[date][]')
							option(value='') День
							- for (var i=1; i<32; i++)
								- var day = i <= 9 ? '0' + i : i
								option(value=i,)= day
						b /
						select(name='schedule[month][]')
							option(value='') Месяц
							each month, i in months
								option(value=i,)= month
						b /
						select(name='schedule[year][]')
							option(value='') Год
							option(value=year, selected=(year == now.getFullYear()))= year
							option(value=year - 1, selected=(year - 1 == now.getFullYear()))= year - 1
						b Время:
						select(name='schedule[hours][]')
							option(value='') Часы
							- for (var i=0; i<24; i++)
								- var hour = i <= 9 ? '0' + i : i
								option(value=i,)= hour
						b :
						select(name='schedule[minutes][]')
							option(value='') Минуты
							- for (var i=0; i<60; i+=10)
								- var minute = i == 0 ? '0' + i : i
								option(value=i,)= minute
						br
						br
				button(type='button').forward добавить дату
			br
			br
			input(type='submit', value='отправить')